@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');   

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

:root {
    --color-primary: #E5E5E5;
    --color-second: #5586B2;
    --color-tertiary: #646464;
    --color-quaternary: #F4F4F4;
    --radius: 15px;
    --input-height: 50px;
    --font-size: 15px;
}

body {
    background-color: var(--color-primary);
}

#header {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.title-main {
    text-align: left;
    font-size: 50px;
    color: var(--color-tertiary);
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 15px;
}

.label {
    color: var(--color-tertiary);
    font-weight: bold;
}

/*cores*/

.color-primary {
    color: var(--color-primary);
}

.color-second {
    color: var(--color-second);
}

.color-tertiary {
    color: var(--color-tertiary);
}