.container {
	width: 100%;
	padding-left: 30%;
	padding-right: 30%;
	margin-right: auto;
	margin-left: auto;
}

.container-2 {
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	margin-right: auto;
	margin-left: auto;
}

.select-type {
    text-align: center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
    grid-gap: 10px;
}

.input-text-config {
    margin-top: 10px;
    margin-bottom: 50px;
}

.select-action-1 {
    text-align: center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-gap: 10px;
}

.select-action-2 {
    text-align: center;
    display: flex;
    margin-top: 10px;
    grid-gap: 10px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.start-action {
    display: flex;
    grid-gap: 10px;
}

/* .select-action-1 ~ .select-action-2 {
    background-color: #6351AB;
} */

/* estilização das configurações das opções selecionadas */

.padding-top-10 {
    padding-top: 10px;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

/* estilização digital */

.digitalRead {
    display: none;
    background-color: var(--color-quaternary);
    border-radius: var(--radius);
    color: var(--color-tertiary);
    height: 20%;
    margin-bottom: 50px;
}

.digitalWrite {
    display: none;
    background-color: var(--color-quaternary);
    border-radius: var(--radius);
    color: var(--color-tertiary);
    height: 33%;
    margin-bottom: 50px;
}

.digitalWrite .bt-standard {
    border-color: var(--color-tertiary);
}

.digitalReadWrite {
    display: none;
    background-color: var(--color-quaternary);
    border-radius: var(--radius);
    color: var(--color-tertiary);
    height: 34%;
    margin-bottom: 50px;
}

/* estilização analógica */

.analogRead {
    display: none;
    background-color: var(--color-quaternary);
    border-radius: var(--radius);
    color: var(--color-tertiary);
    height: 20%;
    margin-bottom: 50px;
}

.analogWrite {
    display: none;
    background-color: var(--color-quaternary);
    border-radius: var(--radius);
    color: var(--color-tertiary);
    height: 61%;
    margin-bottom: 50px;
}

.analogReadWrite {
    display: none;
    background-color: var(--color-quaternary);
    border-radius: var(--radius);
    color: var(--color-tertiary);
    height: 61%;
    margin-bottom: 50px;
}

.analogReadWrite input {
    border-color: var(--color-tertiary);
}

.analogWrite input {
    border-color: var(--color-tertiary);
}

#values {
    text-align: center;
    color: var(--color-tertiary);
    width: 30%;
    background-color: var(--color-quaternary);
    border-radius: var(--radius);
    margin-bottom: 20px;
    margin-top: 30px;
}

p {
    color: #3D3D3D;
    margin-top: 30px;
    text-align: center;
}

a {
    text-decoration: none;
}

.analogWrite .input-standard {
    border-width: 1px;
}

.analogReadWrite .input-standard {
    border-width: 1px;
}

.digitalWrite .bt-standard {
    border-width: 1px;
}